@font-face {
    font-family:"DroidSans";
    src: url(DroidSans-webfont.woff);
}
@font-face {
    font-family:"DroidSansBold";
    src: url(DroidSans-Bold-webfont.woff);
}
:root {
    --background: rgba(84, 209, 177, 0.85);
}
*, *::before, *::after {
    box-sizing: border-box;
}   
body {
    margin: 0;
    background-color: lightslategray;
    font-family: "DroidSans", sans-serif;
    font-weight: 400;
}
h2 {
    font-family: "DroidSansBold", sans-serif;
    margin-left: 5px;
    text-align: center;
}
p {
    margin-left: 5px;
    margin-right: 5px;
    text-indent: 10px;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;;
}
select {
    appearance: none;
    -webkit-appearance: none;
}
.content {
    height: 145vh;
    background-color: lightslategray;
    background-size: cover;
    display: grid;
    place-items: center;
}
.logo {
    width: 10%;
    margin-top: 5px;
    border-radius: 50px;
}
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle-label span::after {
    top: 7px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover {
    color: #000;
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
.card {
    background-color:  rgba(114, 84, 209, 0.50);
    color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.card__header {
    height: 25rem;
    width: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.card__title {
    font-size: 1.2rem;
}
.form__field {
    margin-bottom: 2rem;
}
.form__field input,
.form__field select {
    width: 100%;
    height: 2.5rem;
    background-color: rgba(84, 209, 177, 0.85);
    color: white;
    font-family: "DroidSans";
}
.form__field input::placeholder,
.form__field select::placeholder,
.form__field select:invalid {
    color: white;
}
.select__field {
    position: relative;
}
.select-field::after {
    content: '>';
    font: 17px "Consolas", monospace;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    pointer-events: none;
    /* right: 0.5rem;
    top: 1.1rem; */
    font-size: 0.5rem;
    color: white;
}
.submit__btn {
    width: 6rem;
    height: 2rem;
    background-color: rgba(84, 209, 177, 0.85);
    color: white;
    border-radius: 1rem;
    font-family: "DroidSans";
    font-size: 0.8rem;
    margin-top: 2rem;
}
@media (min-width: 425px) {
    .card__header {
        height: 25rem;
        width: 20rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card__title {
        font-size: 1.4rem;
    }
}
@media (min-width: 700px) {
    .logo {
        width: 30%;
}
    .nav-toggle-label {
        display: none;
}
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
    .logo {
        grid-column: 2 / 3;
        width: 50%;
    }   
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 
    nav a {
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
    .card__header {
        height: 25rem;
        width: 30rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card__title {
        font-size: 1.4rem;
    }
    .submit__btn {
        margin-top: 2rem;
    }
}
@media (min-width: 850px) {
    .logo {
        width: 30%;
    }
    .card__header {
        height: 30rem;
        width: 30rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
    }
    .card__title {
        font-size: 1.6rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
@media (min-width: 1200px) {
    .logo {
        width: 20%;
    }
    .card__header {
        height: 30rem;
        width: 40rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card__title {
        font-size: 2rem;
        padding-top: 0;
        padding-bottom: 1.3rem;
    }
    .submit__btn {
        margin-top: 3rem;
    }
}
@media (min-width: 1500px) {
    .card__header {
        height: 30rem;
        width: 55rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card__title {
        font-size: 2.3rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
    .submit__btn {
        margin-top: 2rem;
    }
}